In [2]:
from sqlalchemy import create_engine, Table, Column, MetaData
from sqlalchemy.orm import mapper, create_session
from sqlalchemy.ext.declarative import declarative_base
from pandas.io.sql import SQLTable, SQLDatabase
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
engine = create_engine('mysql://jg_dba:jg_dba@localhost/hawaii', echo=False)

In [3]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurements', 'stations']

In [4]:
measurements = Base.classes.measurements
stations = Base.classes.stations
session = Session(engine)

In [51]:

import pandas as pd
df = pd.read_sql_query("SELECT date, prcp FROM measurements", engine)
df.head()

         date  prcp
0  2010-01-01  0.08
1  2010-01-02  0.00
2  2010-01-03  0.00
3  2010-01-04  0.00
4  2010-01-06 -0.01

In [52]:

df[df['date'].str.contains("2016|2017")]

             date  prcp
2128   2016-01-01  0.00
2129   2016-01-02  0.00
2130   2016-01-03  0.00
2131   2016-01-04  0.00
2132   2016-01-05  0.00
2133   2016-01-06  0.00
2134   2016-01-07  0.18
2135   2016-01-08  0.01
2136   2016-01-09  0.03
2137   2016-01-10  0.01
2138   2016-01-11  0.00
2139   2016-01-12  0.00
2140   2016-01-13  0.00
2141   2016-01-14  0.00
2142   2016-01-15  0.00
2143   2016-01-16  0.01
2144   2016-01-17  0.00
2145   2016-01-18  0.00
2146   2016-01-19  0.00
2147   2016-01-20  0.00
2148   2016-01-21  0.00
2149   2016-01-22  0.00
2150   2016-01-23  0.00
2151   2016-01-24  0.00
2152   2016-01-25  0.04
2153   2016-01-26  0.16
2154   2016-01-27  0.01
2155   2016-01-28  0.00
2156   2016-01-29  0.00
2157   2016-01-30  0.00
...           ...   ...
19520  2017-07-24  0.84
19521  2017-07-25  0.30
19522  2017-07-26  0.30
19523  2017-07-27  0.00
19524  2017-07-28  0.40
19525  2017-07-29  0.30
19526  2017-07-30  0.30
19527  2017-07-31  0.00
19528  2017-08-01 -0.01
19529  2017-08-02  0.25
19530  2017-08-03  0.06
19531  2017-08-05 -0.01
19532  2017-08-06 -0.01
19533  2017-08-07  0.05
19534  2017-08-08  0.34
19535  2017-08-09  0.15
19536  2017-08-10  0.07
19537  2017-08-11 -0.01
19538  2017-08-12  0.14
19539  2017-08-13 -0.01
19540  2017-08-14  0.22
19541  2017-08-15  0.42
19542  2017-08-16  0.42
19543  2017-08-17  0.13
19544  2017-08-18 -0.01
19545  2017-08-19  0.09
19546  2017-08-20 -0.01
19547  2017-08-21  0.56
19548  2017-08-22  0.50
19549  2017-08-23  0.45

[3706 rows x 2 columns]

In [36]:
import datetime
import time
now = datetime.datetime.now()
last_year = now.year -1
month = now.month
day = now.day

2016